@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EventListViewModel

@{ ViewData["Title"] = "Events"; }

@{
    int selectedCountIndex = Model.count switch
    {
        10 => 0,
        25 => 1,
        100 => 2,
        _ => -1
    };
}

<!--https://material.io/components-->

<h6 class="mdc-typography mdc-typography--headline6">Events</h6>

<partial name="Filter.cshtml" />
<partial name="UploadFile.cshtml" model=null />
<partial name="ConfirmDeleteFile.cshtml" />
<partial name="AddEvent.cshtml" model=null />
<partial name="ConfirmDeleteEvent.cshtml" />

<!-- Events table -->
<form method="post" asp-antiforgery="true" id="events-form">

    <input type="hidden" asp-for="offset" value="@Model.offset" />
    <input type="hidden" asp-for="count" value="@Model.count" />
    <input type="hidden" asp-for="subjects" value="@string.Join(",", Model.subjects.Select(s => s.Id).ToArray())" />

    <div class="mdc-data-table" id="main-data-table" data-mdc-auto-init="MDCDataTable">
        <div class="mdc-data-table__table-container">
            <table class="mdc-data-table__table" aria-label="Events">
                <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--checkbox" role="columnheader" scope="col">
                            <div class="mdc-checkbox mdc-data-table__header-row-checkbox mdc-checkbox--selected" data-mdc-auto-init="MDCCheckbox">
                            <input type="checkbox" class="mdc-checkbox__native-control" aria-label="Toggle all rows"/>
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                            <div class="mdc-checkbox__ripple"></div>
                            </div>
                        </th>
                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col" width="100px">Id</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col" width="100px">Subject Id</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col" width="200px">Subject Name</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Description</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col" width="200px">Created at</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col" width="300px">Files</th>
                    </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                    @foreach (var e in Model.events)
                    {
                    <tr class="mdc-data-table__row" data-row-id="@(e.Id)">
                        <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                            <div class="mdc-checkbox mdc-data-table__row-checkbox" data-mdc-auto-init="MDCCheckbox">
                            <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="event@(e.Id)"/>
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                            <div class="mdc-checkbox__ripple"></div>
                            </div>
                        </td>
                        <th class="mdc-data-table__cell mdc-data-table__header-cell--numeric" scope="row" id="event@(e.Id)">@e.Id</th>
                        <td class="mdc-data-table__cell mdc-data-table__header-cell--numeric">@e.SubjectId</td>
                        <td class="mdc-data-table__cell">@e.Subject.Name</td>
                        <td class="mdc-data-table__cell">@e.Description</td>
                        <td class="mdc-data-table__cell">@e.CreatedAt</td>
                        <td class="mdc-data-table__cell">
                            @foreach (var f in e.Files)
                            {
                            <div id="relation@(f.Id)" class="event-relation">
                                <span class="material-icons clickable" onclick="onDeleteFile(@f.Id)" title="Delete file">
                                    delete
                                </span>
                                <a href="@Url.Action("Download", "Home", new {id = f.Id } )" title="Download file">@f.Name</a>
                            </div>
                            }
                            <span class="material-icons clickable" onclick="onAddEventFile(@e.Id)" title="Add file">
                                add_circle
                            </span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="mdc-data-table__progress-indicator">
            <div class="mdc-data-table__scrim"></div>
            <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-data-table__linear-progress" role="progressbar" aria-label="Data is being loaded...">
            <div class="mdc-linear-progress__buffer">
                <div class="mdc-linear-progress__buffer-bar"></div>
                <div class="mdc-linear-progress__buffer-dots"></div>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            </div>
        </div>

        <div class="mdc-data-table__pagination">
            <div class="mdc-data-table__pagination-trailing">
                <div class="mdc-data-table__pagination-rows-per-page">
                    <div class="mdc-data-table__pagination-rows-per-page-label">
                        Строк на странице
                    </div>

                    <div id="count-select" class="mdc-select mdc-select--outlined mdc-select--no-label mdc-data-table__pagination-rows-per-page-select"
                    data-mdc-auto-init="MDCSelect">
                        <div class="mdc-select__anchor" role="button" aria-haspopup="listbox"
                                aria-expanded="false"
                                aria-labelledby="files-pagination-select" tabindex="0">
                            <span class="mdc-select__selected-text-container">
                                <span id="files-pagination-select" class="mdc-select__selected-text"></span>
                            </span>
                            <span class="mdc-select__dropdown-icon">
                                <svg class="mdc-select__dropdown-icon-graphic"
                                        viewBox="7 10 10 5">
                                    <polygon class="mdc-select__dropdown-icon-inactive"
                                                stroke="none"
                                                fill-rule="evenodd"
                                                points="7 10 12 15 17 10">
                                    </polygon>
                                    <polygon class="mdc-select__dropdown-icon-active"
                                                stroke="none"
                                                fill-rule="evenodd"
                                                points="7 15 12 10 17 15">
                                    </polygon>
                                </svg>
                            </span>
                            <span class="mdc-notched-outline mdc-notched-outline--notched">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                        </div>

                        <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                            <ul class="mdc-list" role="listbox" title="Page size">
                                <li class="mdc-list-item" role="option" data-value="10">
                                    <span class="mdc-list-item__text">10</span>
                                </li>
                                <li class="mdc-list-item" role="option" data-value="25">
                                    <span class="mdc-list-item__text">25</span>
                                </li>
                                <li class="mdc-list-item" role="option" data-value="100">
                                    <span class="mdc-list-item__text">100</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mdc-data-table__pagination-navigation">
                    <div class="mdc-data-table__pagination-total">
                        Events @(Model.offset+1)‑@(Model.offset + Model.events.Length) of @Model.total
                    </div>
                    <button type="submit" class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-first-page="true" onclick="onFirstPage(this.form)" @(Model.offset < Model.count ? "disabled" : "")
                            data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__icon">first_page</div>
                    </button>
                    <button type="submit" class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-prev-page="true" onclick="onPrevPage(this.form)" @(Model.offset > 0 ? "" : "disabled" )
                            data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__icon">chevron_left</div>
                    </button>
                    <button type="submit" class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-next-page="true" onclick="onNextPage(this.form)" @(Model.offset + Model.count < Model.total ? "" : "disabled" )
                            data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__icon">chevron_right</div>
                    </button>
                    <button type="submit" class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-last-page="true" onclick="onLastPage(this.form)" @(Model.offset + Model.count < Model.total ? "" : "disabled")
                            data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__icon">last_page</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mtop10">
        <output name="result"></output>
    </div>
</form>
<!-- Events table -->

<div class="bottom-line">
    <button id="delete-event-dialog-button" class="mdc-button mdc-button--raised" disabled onclick="onDeleteSelectedEvents()" data-mdc-auto-init="MDCRipple">
    <span class="mdc-button__label">Delete selected events</span>
    </button>
    <button id="add-event-dialog-button" class="mdc-button mdc-button--raised mleft10" onclick="onDialogAddEvent()" data-mdc-auto-init="MDCRipple">
    <span class="mdc-button__label">Add event</span>
    </button>
</div>

<script>
    var selectedCountIndex = @selectedCountIndex;
    var selectedCountName = 'eventPageCount';
    var filterSubjects = 'filterSubjects';
    var mainListTotal = @Model.total;

    const selectedCount = localStorage.getItem(selectedCountName);
    const selectedSubjects = localStorage.getItem(filterSubjects);

    const modelSubjects = [];
    @foreach (var s in Model.subjects)
    {
    @: modelSubjects.push('@s.Id');
    }

    const subjects = selectedSubjects ?
        selectedSubjects.split(',').map(s => s.trim()).filter(s => s.length === 36 && !modelSubjects.includes(s))
        : [];

    if ((selectedCount && selectedCount != @Model.count) || subjects.length > 0) {
        const form = document.forms['events-form'];

        if (selectedSubjects) {
            form.subjects.value = selectedSubjects;
        }

        if (selectedCount) {
            form.count.value = selectedCount;
        }

        form.offset.value = 0;
        form.submit();
    }
</script>
